html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: auto !important;
  max-width: 100%;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}
